/* .container {
    text-align: center;
    margin-top: 50px;
} */

.red-block {
  width: 240px;
  height: 165px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: -129px;
}

.popup {
    display: none;   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid black;
    z-index: 9999;
}
.popup1 {
    display: none;   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid black;
    z-index: 9999;
}

.close-button {
    cursor: pointer;
    text-align: right;
    margin-bottom: 10px;
}
.close-button1 {
    cursor: pointer;
    text-align: right;
    margin-bottom: 10px;
}

#plot-container {
    width: 400px;
    height: 300px;
}
#plot-container1 {
    width: 400px;
    height: 300px;
}
#graph {
    width: 400px;
    height: 300px;
}
/* #diagram {
    margin: 20px 0;
    border-width: 1px;
    border-color: lightgrey;
    height: 90vh;
    position: relative;
  }

  #control1 {
    width: 22px;
height: 23px;
margin-top: 345px;
margin-left: -366px; */
/* background-color: white; */
/* cursor: pointer;
position: absolute;
  }

  #control2 {
    width: 22px;
height: 23px;
margin-top: 173px; */
/* background-color: white; */
/* cursor: pointer;
position: absolute;
margin-left: -332px;
  }
  #control3 {
    width: 22px;
height: 23px;
margin-left: -362px;
margin-top: 410px; */
/* background-color: white; */
/* cursor: pointer;
position: absolute;
  }

  #control4 {
    width: 22px;
height: 23px;
margin-left: -225px;
margin-top: 173px; */

/* background-color: white; */
/* cursor: pointer;
position: absolute;
  }

  .control img {
    width: 100%;
    height: 100%;
  }

  .jtk-connector {
    z-index: 4;
  }

  .jtk-endpoint {
    z-index: 5;
  }

  .jtk-overlay {
    z-index: 6;
  } */
  
#check-button{
  background-color: aliceblue;
  border:2px solid #272465;
  padding: 8px;
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
}
#reset-button{

    background-color: aliceblue;
    border:2px solid #272465;
    padding: 8px;
    border-radius: 9px;
    font-size: 15px;
    cursor: pointer;
    width: 80px;
   
  
}
#sim{
  background-color: aliceblue;
  border:2px solid #272465;
  padding: 8px;
  border-radius: 9px;
  margin-left: 55px;
  font-size: 15px;
  cursor: pointer;
}
#att{
  background-color: aliceblue;
  border:2px solid #272465;
  padding: 8px;
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
}
.plot{
  background-color: aliceblue;
  border:2px solid #272465;
  padding: 8px;
  border-radius: 9px;
  margin-left: 55px;
  font-size: 15px;
  cursor: pointer;
}
